h2 {
  font-weight: bold;
}

h3 {
  font-weight: bold;
  color: var(--primary-400);
}

.my-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
}
body {
  margin-top: 72px;
}
.phone a {
  font-size: 1.2em;
  font-weight: 700;
}
